
:root{
    --bs-blue: #45567d;
    --bs-gray: 	#9CB4CC;
    --bs-pink:#F2D7D9;
    --bs-dark:#D3CEDF;
}
.nav-item{
    width: 100%;
    font-size: 35px;
}

.col:hover{
    color: black;
}
h2{
    font-size: 40px;
    text-align: center;
    margin: 0%;
}
a{
    color:white;
    margin: 0%;
    text-decoration: none;
    font-family: serif;
}
a:hover{
    color: black;
}
.fs-1{
    text-align: center;
    background: var(--bs-pink);
    margin: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: sans-serif;
}

.img-fluid{
    height: 200px;
    object-fit: stretch;
    padding:2%;
    margin: 2%;
}
.mainBody{
    background-color:var(--bs-dark);
    padding-bottom: 20px;
    color: white;
    
}
.btn-details{
    color: white;
    background-color: var(--bs-gray);
    font-size: 80%;
}
.col{
    font-size: 44px;
}
.nav-link{
    color:white;
    font-size: 80%;
}
figcaption :hover{
    color: #A8A4CE;
}
.back-color{
    background-color: var(--bs-gray)
}
.last-element{
    background-color: var(--bs-gray);
}
.footer{
    background-color: var(--bs-gray);
}
