.nav-item{
    width: 100%;
    font-size: 35px;
}
h2{
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    margin-top: 0;
}
a{
    color:white;
    margin: 0%;
    text-decoration: none;
    font-family: serif;
}
.fw-bold{
    font-size: 60px; 
    text-align: center;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,0.3172761292016807) 100%, rgba(0,212,255,1) 100%);
    margin: 0%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img-fluid{
    height: calc(100% - 3rem);
    max-width: 100%;
    height: 50%;
    object-fit: cover;
    margin-top: 0%;
}
.project-tile {
    font-size: 2.8rem;
    padding: 0%;    
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    color: black;
    text-decoration-line: none;

}
.btn-show-all {
    font-size: 1.7rem;
    background: #9e4646c8;
}
.project-back{
    background-color: rgba(90, 17, 17, 0.663);
}
.text{
    background-color:rgba(105, 40, 40, 0.648);
}
.btn-details{
    color: black;
    margin-top: 1px;
}

#about{
    background-image: url(https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png);
}
.btn-show-all{
    background-color: rgba(90, 17, 17, 0.663);
    width: 100%;
    margin-top: 0%;
}
.col{
    font-size: 44px;
}