@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  margin: 0;
}
.nav-item{
  max-width: 100%;
  font-size: 35px;
}
.col:hover{
  color: black;
}
body{
  background-image: url(https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png);
}
h2{
  font-size: 2rem;
  text-align: center;
  margin: 0%;
}
a{
  color:white;
  margin: 0%;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
}
a:hover{
  color: black;
}
#about{
  text-align: center;
  color: white;
  height: 100%;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.25ch;
}
.intro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.text1{
  font-size: 3rem;
  font-weight: 400;
}
.text2{
  font-size: 2rem;
  animation: text 5s infinite;
}
#about span{
  display: block;
}
@keyframes text {
  0%{
    color: rgba(1, 1, 1, 100%);
  }
  90%{
    margin-bottom :-55px;
    letter-spacing: 0.40ch;
  }
  100%{
    margin-bottom: -55px;
  }
}
.img-fluid{
  width: 500px;
  height: 500px;
}
#work{
  padding-bottom: 6%;
  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
}
.main{
  padding-top: 6%;
  justify-content: space-around;
  color: white;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 0.30ch   
}
.nav-link{
  color:white;
  font-size: 60%;
}